* {
    box-sizing: border-box;
}

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    background-color: #867da0;
    overflow: scroll;
  }

  h1 {
    font-size: 5vh;
    font-weight: 400;
    letter-spacing: 0.1vw;
    color: #9ca99d;
  }

  h2 {
    font-size: 3vh;
  }
  img {
    width: 40vw;
    text-align: center;
  }
  /*******************************/
  .wrapper {
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
    background-color: #6171c1;
  }

 .wrapper:hover {
    color: rgb(13, 27, 182);
    cursor: pointer;
    background-color: #4d2323;
 }
/************************************/

.meme_name {
    display: flex;
    justify-content: space-between;
}

.arrow {
  width: 3vw;
}

input {
    display: none;
}

.meme_title {
    display: block;
    padding: 0.3vw;
}

.meme_picture {
    display: none;
  justify-content: center;
}

input:checked + .meme_title {
    color: black;
  }

  .meme_title:active .arrow {
    fill: blue;
    opacity: 0.7;
  }

  input:active + .meme_title {
    color: blue;
    opacity: 0.7;
  }

  input:checked + .meme_title .arrow {
    display: inline;
    animation: rotateOn ease 0.2s;
    transform: rotate(45deg);
  }

  .meme_title:active .meme_picture {
    display: flex;
    animation: fadeOut ease 0.4s;
  }

  input:checked + .meme_title .meme_picture {
    display: flex;
    animation: none;
  }
    .arrow, input:checked + .meme_title .arrow {
      display: none;
    }

    .wrapper:hover .arrow, .wrapper:hover input:checked + .meme_title .arrow {
      display: inline;
      animation: fadeOut ease 0.2s;
    }

    .meme_title:hover .arrow {
      display: inline;
      animation: rotateOn ease 0.2s;
      transform: rotate(90deg);
      cursor: pointer;
    }

    .meme_title:hover .meme_picture {
      display: flex;
      animation: fadeOut ease 0.3s;
      cursor: pointer;
    }
